---
---

@import "bootstrap/bootstrap";
@import "custom";
@import "github-ribbon";
@import "mobile";

div.no {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 19px;
  min-height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  margin-top: 2px;
  color: #eee;
  background-image: url(/assets/img/times.svg);
}
div.yes {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 19px;
  min-height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  margin-top: 2px;
  color: #117744;
  fill: #117744;
  background-image: url(/assets/img/check-circle.svg);
}
div.partial {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 19px;
  min-height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  margin-top: 2px;
  color: orange !important;
  fill: orange !important;
  filter: saturate(80%);
  opacity: 0.8;
  background-image: url(/assets/img/check-circle.svg);
}
